/* Danganronpa */
/* Кёко Киригири */
.c-character.entry-63845 img {
    visibility: hidden;
}
.c-character.entry-63845 .image-cutter {
    background: url("https://i.pinimg.com/1200x/5e/0c/fe/5e0cfed763f3640bd0be8afdd3d26576.jpg") no-repeat 55% 0%;
    background-size: cover;
    filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-63845 .image-cutter:hover {
    filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Бьякуя Тогами */
.c-character.entry-65541 img {
    visibility: hidden;
  }
.c-character.entry-65541 .image-cutter {
    background: url("https://i.pinimg.com/736x/d4/75/77/d4757737e13c8428c22f7269a160816f.jpg") no-repeat 0% 30% / 100%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-65541 .image-cutter:hover {
	filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Токо Фукава */
.c-character.entry-65529 img {
    visibility: hidden;
  }
.c-character.entry-65529 .image-cutter {
    background: url("https://i.pinimg.com/1200x/4f/7d/88/4f7d88682874af16f2d656902715ed54.jpg") no-repeat 70% 10% / 250%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-65529 .image-cutter:hover {
	filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Аканэ Овари */
.c-character.entry-73223 img {
    visibility: hidden;
  }
.c-character.entry-73223 .image-cutter {
    background: url("https://i.pinimg.com/736x/19/8c/06/198c063231f12f386629acec0315440b.jpg") no-repeat 35% 10% / 200%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-73223 .image-cutter:hover {
	filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Ибуки Миода */
.c-character.entry-73209 img {
    visibility: hidden;
  }
.c-character.entry-73209 .image-cutter {
    background: url("https://i.pinimg.com/736x/73/35/0b/73350ba5830b52851d6c8b9592cfc95d.jpg") no-repeat 35% 60% / 100%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-73209 .image-cutter:hover {
	filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Хиёко Сайондзи */
.c-character.entry-73225 img {
    visibility: hidden;
  }
.c-character.entry-73225 .image-cutter {
    background: url("https://i.pinimg.com/736x/66/93/16/669316ce8354cd32cde20d7fecc18072.jpg") no-repeat 50% 30% / 200%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-73225 .image-cutter:hover {
	filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Тиаки Нанами */
.c-character.entry-73205 img {
    visibility: hidden;
  }
.c-character.entry-73205 .image-cutter {
    background: url("https://i.pinimg.com/1200x/db/45/24/db4524c1044a958e4f99d7ccc14ab586.jpg") no-repeat 30% 30% / 200%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-73205 .image-cutter:hover {
	filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Пэко Пэкояма */
.c-character.entry-73231 img {
    visibility: hidden;
  }
.c-character.entry-73231 .image-cutter {
    background: url("https://i.pinimg.com/736x/d7/37/bb/d737bb24352a3cc143c1beaf3094e7c5.jpg") no-repeat 45% 30% / 150%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-73231 .image-cutter:hover {
	filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Reborn */
/* Хром Докуро */
.c-character.entry-5013 img {
    visibility: hidden;
  }
.c-character.entry-5013 .image-cutter {
    background: url("https://i.pinimg.com/1200x/54/3e/4c/543e4c5a67623e21ff95cecebef2aa92.jpg") no-repeat 50% 0% / 200%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-5013 .image-cutter:hover {
	 filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Цунаёши Савада */
.c-character.entry-670 img {
    visibility: hidden;
  }
.c-character.entry-670 .image-cutter {
    background: url("https://i.pinimg.com/1200x/76/a9/9b/76a99b1fca677d44f6a7b823bc45cb3e.jpg") no-repeat 50% 40% / 200%;
   filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-670 .image-cutter:hover {
    filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Бьякуран */
.c-character.entry-10752 img {
    visibility: hidden;
}
.c-character.entry-10752 .image-cutter {
    background: url("https://i.pinimg.com/1200x/11/1d/80/111d8041563f509d1fa787a3509a6369.jpg") no-repeat 0% 30% / 120%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-10752 .image-cutter:hover {
	 filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Блюбелл */
.c-character.entry-24450 img {
    visibility: hidden;
  }
.c-character.entry-24450 .image-cutter {
    background: url("https://i.pinimg.com/736x/d9/9f/5c/d99f5c84abd6324b10a661144b1cc3b4.jpg") no-repeat 15% 15% / 120%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-24450 .image-cutter:hover {
	filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Фран */
.c-character.entry-17565 img {
    visibility: hidden;
}
.c-character.entry-17565 .image-cutter {
    background: url("https://i.pinimg.com/originals/4d/e3/fd/4de3fd0fb89f53da2e367093ce103264.jpg") no-repeat 50% 30% / 200%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-17565 .image-cutter:hover {
	filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Бельфегор */
.c-character.entry-4372 img {
    visibility: hidden;
}
.c-character.entry-4372 .image-cutter {
    background: url("https://i.pinimg.com/1200x/c0/3f/51/c03f515f08ca9b2f0ad45267bb8477a1.jpg") no-repeat 20% 30% / 140%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-4372 .image-cutter:hover {
	filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Маммон */
.c-character.entry-5006 img {
    visibility: hidden;
}
.c-character.entry-5006 .image-cutter {
    background: url("https://i.pinimg.com/736x/06/2c/52/062c52c08c2654f1e01d3ab3669a1215.jpg") no-repeat 70% 0% / 250%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-5006 .image-cutter:hover {
	filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Череп */
.c-character.entry-5004 img {
    visibility: hidden;
}
.c-character.entry-5004 .image-cutter {
    background: url("https://i.pinimg.com/1200x/8e/56/59/8e5659ae84fa3aa6fd7be2ea568c52a7.jpg") no-repeat 40% 20% / 250%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-5004 .image-cutter:hover {
	filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Mahou Shoujo Ikusei Keikaku */
/* Алиса */
.c-character.entry-141957 img {
    visibility: hidden;
  }
.c-character.entry-141957 .image-cutter {
    background: url("https://i.pinimg.com/1200x/0c/ec/5a/0cec5a5023e72cba7e3af597a1878b25.jpg") no-repeat 40% 30% / 250%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-141957 .image-cutter:hover {filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Нэму */
.c-character.entry-141955 img {
    visibility: hidden;
}
.c-character.entry-141955 .image-cutter {
    background: url("https://i.pinimg.com/1200x/d7/31/7d/d7317d5ad9373838751a00a3526d9d6d.jpg") no-repeat 70% 15% / 200%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-141955 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Мина Амасато */
.c-character.entry-141961 img {
    visibility: hidden;
}
.c-character.entry-141961 .image-cutter {
    background: url("https://i.pinimg.com/1200x/f0/fe/e9/f0fee97b5555660791ce2631c7036d6e.jpg") no-repeat 20% 15% / 250%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-141961 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Юна Амасато */
.c-character.entry-141962 img {
    visibility: hidden;
}
.c-character.entry-141962 .image-cutter {
    background: url("https://i.pinimg.com/1200x/f0/fe/e9/f0fee97b5555660791ce2631c7036d6e.jpg") no-repeat 90% 15% / 250%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-141962 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Нана Хабутаэ */
.c-character.entry-141964 img {
    visibility: hidden;
}
.c-character.entry-141964 .image-cutter {
    background: url("https://i.pinimg.com/736x/fb/a5/6f/fba56fddc430d437d3d54b71369c0520.jpg") no-repeat 40% 40% / 180%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-141964 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Soul Eater */
/* Цубаки Накацукаса */
.c-character.entry-8443 img {
    visibility: hidden;
  }
.c-character.entry-8443 .image-cutter {
    background: url("https://i.pinimg.com/1200x/70/ef/fe/70effe92c3ab7e7e0834a99c89e99f82.jpg") no-repeat 15% 15% / 220%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-8443 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Патти Томпсон */
.c-character.entry-8444 img {
    visibility: hidden;
  }
.c-character.entry-8444 .image-cutter {
    background: url("https://i.pinimg.com/1200x/d0/7e/2a/d07e2a87cd8724c9856816382984dc68.jpg") no-repeat 60% 70% / 200%;
   filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-8444 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Кид */
.c-character.entry-8455 img {
    visibility: hidden;
  }
.c-character.entry-8455 .image-cutter {
    background: url("https://i.pinimg.com/736x/d1/7b/7d/d17b7d79ff944a7e35ad32f929ab5117.jpg") no-repeat 30% 15% / 150%;
   filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-8455 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Black☆Star */
.c-character.entry-8464 img {
    visibility: hidden;
  }
.c-character.entry-8464 .image-cutter {
    background: url("https://i.pinimg.com/1200x/b8/cd/27/b8cd27446fcf4bb53c5bf4bfc2083105.jpg") no-repeat 0% 50% / 230%; 
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-8464 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Анджела Леон */
.c-character.entry-13712 img {
    visibility: hidden;
  }
.c-character.entry-13712 .image-cutter {
    background: url("https://avatars.mds.yandex.net/i?id=d2c16ada2567ebc4ff0d5ce92620a15c98492f23-5889279-images-thumbs&n=13") no-repeat 50% 15% / 250%; 
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-13712 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Хрона */
.c-character.entry-11919 img {
    visibility: hidden;
  }
.c-character.entry-11919 .image-cutter {
    background: url("https://i.pinimg.com/736x/9b/4b/fb/9b4bfb837a8f52b8d1785c45407bb304.jpg") no-repeat 50% 15% / 150%; 
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-11919 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Эрука Фрог */
.c-character.entry-13689 img {
    visibility: hidden;
  }
.c-character.entry-13689 .image-cutter {
    background: url("https://i.pinimg.com/1200x/de/90/54/de90543f91d13cb214fb08746f66fefa.jpg") no-repeat 50% 30% / 200%; 
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-13689 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Kiznaiver */
/* Нико */
.c-character.entry-134209 img {
    visibility: hidden;
  }
.c-character.entry-134209 .image-cutter {
    background: url("https://i.pinimg.com/1200x/26/e9/aa/26e9aa83dbfee95e3d0a53f73a078c18.jpg") no-repeat 50% 15% / 250%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-134209 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Кацухира Агата */
.c-character.entry-134205 img {
    visibility: hidden;
  }
.c-character.entry-134205 .image-cutter {
    background: url("https://i.pinimg.com/1200x/02/cb/e3/02cbe3b8ef27a2d32dc04768e8711de3.jpg") no-repeat 70% 15% / 300%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-134205 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Хонока Маки */
.c-character.entry-134212 img {
    visibility: hidden;
  }
.c-character.entry-134212 .image-cutter {
    background: url("https://i.pinimg.com/1200x/48/ac/e6/48ace6904969e2de97dfa30d7e6fdeda.jpg") no-repeat 70% 15% / 300%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-134212 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Руру */
.c-character.entry-140775 img {
    visibility: hidden;
  }
.c-character.entry-140775 .image-cutter {
    background: url("https://i.pinimg.com/736x/10/94/39/109439fa196a11f9aff57862fa75b3b1.jpg") no-repeat 50% 15% / 200%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-140775 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Fairy Tail */

/* Джувия */
.c-character.entry-9719 img {
    visibility: hidden;
  }
.c-character.entry-9719 .image-cutter {
    background: url("https://i.pinimg.com/1200x/66/ee/82/66ee824339cc69d491ea1695207e45fb.jpg") no-repeat 60% 25% / 250%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-9719 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Люси */
.c-character.entry-5186 img {
    visibility: hidden;
  }
.c-character.entry-5186 .image-cutter {
    background: url("https://i.pinimg.com/1200x/7f/65/ba/7f65ba9bfbd3274f2b9246a56676bbad.jpg") no-repeat 45% 15% / 300%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-5186 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Мавис */
.c-character.entry-50163 img {
    visibility: hidden;
  }
.c-character.entry-50163 .image-cutter {
    background: url("https://i.pinimg.com/1200x/01/cd/5e/01cd5ef486ae37c53bc84da36c3f211f.jpg") no-repeat 30% 30% / 270%; 
   filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-50163 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Брандиш */
.c-character.entry-130964 img {
    visibility: hidden;
  }
.c-character.entry-130964 .image-cutter {
    background: url("https://i126.fastpic.org/big/2026/0104/15/99d5e907d4a25ffa33ef62bb964a5615.jpg") no-repeat 40% 35% / 220%;
   filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-130964 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Димария */
.c-character.entry-133962 img {
    visibility: hidden;
  }
.c-character.entry-133962 .image-cutter {
    background: url("https://i.pinimg.com/736x/a6/65/59/a66559058bf05ce389542b124d3a018f.jpg") no-repeat 50% 30% / 220%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-133962 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Венди */
.c-character.entry-28886 img {
    visibility: hidden;
  }
.c-character.entry-28886 .image-cutter {
    background: url("https://i.pinimg.com/736x/a1/fa/be/a1fabe240eb86d7986f40177eafeadea.jpg") no-repeat 50% 30% / 250%;
   filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-28886 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Флёр Корона */
.c-character.entry-56777 img {
    visibility: hidden;
  }
.c-character.entry-56777 .image-cutter {
    background: url("https://i.pinimg.com/1200x/d0/18/0e/d0180e0d066f741cee4aa827aa9b763e.jpg") no-repeat 70% 30% / 200%;
   filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-56777 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Хакунэ */
.c-character.entry-243080 img {
    visibility: hidden;
  }
.c-character.entry-243080 .image-cutter {
    background: url("https://i.pinimg.com/1200x/7c/02/ea/7c02eaebfcb17b716281c6d25112bef3.jpg") no-repeat 45% 15% / 250%;
   filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-243080 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Мэри */
.c-character.entry-166017 img {
    visibility: hidden;
  }
.c-character.entry-166017 .image-cutter {
    background: url("https://i.pinimg.com/1200x/0d/dd/86/0ddd8667010ffe885dafe5091a21917c.jpg") no-repeat 42% 30% / 180%;
   filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-166017 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Джульетта Сан */
.c-character.entry-140503 img {
    visibility: hidden;
  }
.c-character.entry-140503 .image-cutter {
    background: url("https://i.pinimg.com/1200x/22/39/49/22394915d4781319368f6de0f55d405a.jpg") no-repeat 10% 30% / 280%;
   filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-140503 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Хайне Лунаси */
.c-character.entry-167022 img {
    visibility: hidden;
  }
.c-character.entry-167022 .image-cutter {
    background: url("https://i.pinimg.com/1200x/e3/86/e6/e386e601f2e123b8e31af49f56f7ec42.jpg") no-repeat 20% 15% / 350%;
   filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-167022 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Йоко */
.c-character.entry-243081 img {
    visibility: hidden;
  }
.c-character.entry-243081 .image-cutter {
    background: url("http://images-s.kinorium.com/movie/shot/2836888/w1500_53542631.jpg");
  background-repeat: no-repeat;
    background-position: 48% 15%;
    background-size: cover;
    background-color: transparent;
   filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-243081 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Рейт */
.c-character.entry-261648 img {
    visibility: hidden;
  }
.c-character.entry-261648 .image-cutter {
    background: url("https://i.pinimg.com/1200x/47/c0/90/47c090ea9325ab1b4488a6083db20167.jpg") no-repeat 45% 15% / 350%;
   filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-261648 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Меркфобия */
.c-character.entry-164912 img {
    visibility: hidden;
  }
.c-character.entry-164912 .image-cutter {
    background: url("https://i.pinimg.com/736x/8f/b2/5a/8fb25abf9a4b26af3a10bcedffa816fe.jpg") no-repeat 60% 30% / 200%;
   filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-164912 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Yamada-kun to 7-nin no Majo */
/* Мария Саруcима */
.c-character.entry-79985 img {
    visibility: hidden;
  }
.c-character.entry-79985 .image-cutter {
    background: url("https://i.pinimg.com/1200x/2a/23/c7/2a23c7bb92257f594b55282275287b76.jpg") no-repeat 20% 80% / 350%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-79985 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Мияби Ито */
.c-character.entry-62437 img {
    visibility: hidden;
  }
.c-character.entry-62437 .image-cutter {
    background: url("https://i.pinimg.com/736x/95/08/0f/95080fa96fbea06f9acc5c5b072ea5e1.jpg") no-repeat 50% 10% / 250%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-62437 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Леона Миямура */
.c-character.entry-84499 img {
    visibility: hidden;
  }
.c-character.entry-84499 .image-cutter {
    background: url("https://i.pinimg.com/1200x/e4/2d/65/e42d657d73ec14224f02213a70a7038d.jpg") no-repeat 80% 70% / 400%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-84499 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Нэнэ Одагири */
.c-character.entry-57493 img {
    visibility: hidden;
  }
.c-character.entry-57493 .image-cutter {
    background: url("https://sun9-49.userapi.com/s/v1/ig2/J1WVMw5srBsx4QfA2rnLCqTLdt1ITxoCLII8UKBR6QEIn2lnP_WS_1BeOYJsTncB3TLCTXOUCECzjyRcU-6v25uQ.jpg?quality=95&as=32x18,48x27,72x40,108x61,160x90,240x135,360x202,480x270,540x304,640x360,720x405,1080x607,1280x720,1440x810,1920x1080&from=bu&cs=1920x0") no-repeat 25% 100% / 350%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-57493 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Мэйко Оцука */
.c-character.entry-68497 img {
    visibility: hidden;
  }
.c-character.entry-68497 .image-cutter {
    background: url("https://sun9-4.userapi.com/s/v1/ig2/ZwDogXdH5jv8khDEh33rixs275i2LjMWrXICpsS_ZLaDuiqgKSK4vQf9IB50swlqyqB2YoyaLd807954gtDSfZ1H.jpg?quality=95&as=32x18,48x27,72x40,108x61,160x90,240x135,360x202,480x270,540x304,640x360,720x405,1080x607,1280x720,1440x810,1920x1080&from=bu&cs=1920x0") no-repeat 76% 100% / 350%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-68497 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Ноа Такигава */
.c-character.entry-80265 img {
    visibility: hidden;
  }
.c-character.entry-80265 .image-cutter {
    background: url("https://sun9-12.userapi.com/s/v1/ig2/WXTb9YRFueGTLjZ7Z9_ax_wZ3dPuqdbMlTPKpA-rDMZadFzokLKF1G3i42rd4FY-7Oi62QNiDm8FRdQj8YgMTyEs.jpg?quality=95&as=32x18,48x27,72x40,108x61,160x90,240x135,360x202,480x270,540x304,640x360,720x405,1080x607,1280x720,1440x810,1920x1080&from=bu&cs=1920x0") no-repeat 30% 80% / 370%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-80265 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Рика Сайонджи */
.c-character.entry-89081 img {
    visibility: hidden;
  }
.c-character.entry-89081 .image-cutter {
    background: url("https://sun9-24.userapi.com/s/v1/ig2/gqhXBxQVptqEjX8OG52bwMgSo2VKzhuDrvTBueM7V-o6-ICcLckjO44KFQ2Mn9--szT_V8NIn-MyxhLN2yNqOyXo.jpg?quality=95&as=32x18,48x27,72x40,108x61,160x90,240x135,360x202,480x270,540x304,640x360,720x405,1080x607,1280x720,1440x810,1920x1080&from=bu&cs=1920x0") no-repeat 15% 100% / 350%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-89081 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Микото Аска */
.c-character.entry-82757 img {
    visibility: hidden;
  }
.c-character.entry-82757 .image-cutter {
    background: url("https://sun9-46.userapi.com/s/v1/ig2/IOr2oYfc7N_LcZuZw-ia8R0yzzPfaHmJKx0bf4AtP9K30twq9EasCAby0S5qZiWQpKoCsEz0IUIKZ7L8lzt2sjwl.jpg?quality=95&as=32x18,48x27,72x40,108x61,160x90,240x135,360x202,480x270,540x304,640x360,720x405,1080x607,1280x720,1440x810,1920x1080&from=bu&cs=1920x0") no-repeat 70% 80% / 350%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-82757 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* SK8 */
/* Джо */
.c-character.entry-188065 img {
    visibility: hidden;
  }
.c-character.entry-188065 .image-cutter {
    background: url("https://i.pinimg.com/736x/43/25/13/43251362fc71acd9d236947670e6497e.jpg") no-repeat 70% 70% / 200%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-188065 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Мия Тинэн */
.c-character.entry-188062 img {
    visibility: hidden;
  }
.c-character.entry-188062 .image-cutter {
    background: url("https://i.pinimg.com/1200x/a8/9b/f0/a89bf0ebbf0fbd7c702996730a2034bf.jpg") no-repeat 53% 75% / 500%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-188062 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}
