/* Danganronpa */
.p-profiles .cc-favourites [class*="b-catalog_entry"] > a[href*="16592-danganronpa-kibou-no-gakuen-to-zetsubou-no-koukousei-the-animation"] img {
    visibility: hidden;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="16592-danganronpa-kibou-no-gakuen-to-zetsubou-no-koukousei-the-animation"] .image-cutter {
    background: url("https://i.imgur.com/cOdDxV6.jpeg") no-repeat 0% 30% / 100%;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="16592-danganronpa-kibou-no-gakuen-to-zetsubou-no-koukousei-the-animation"] .image-cutter:hover {
    background-image: url("https://i.imgur.com/k5Hk82b.gif");
    background-position: 0% 50%;
    background-size: 110%;
    background-repeat: no-repeat;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="16592-danganronpa-kibou-no-gakuen-to-zetsubou-no-koukousei-the-animation"] .image-decor::before {
    content: "Danganronpa";
}

/* Mahou Shoujo Ikusei Keikaku */
.p-profiles .cc-favourites [class*="b-catalog_entry"] > a[href*="33003-mahou-shoujo-ikusei-keikaku"] img {
    visibility: hidden;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="33003-mahou-shoujo-ikusei-keikaku"] .image-cutter {
    background: url("https://i.imgur.com/WHtzp5S.jpeg") no-repeat 0% 30% / 100%;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="33003-mahou-shoujo-ikusei-keikaku"] .image-cutter:hover {
    background-image: url("https://i.imgur.com/QsksIVb.gif");
    background-position: 0% 50%;
    background-size: 110%;
    background-repeat: no-repeat;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="33003-mahou-shoujo-ikusei-keikaku"] .image-decor::before {
    content: "Mahou Shoujo Ikusei Keikaku";
}

/* kiznaiver */
.p-profiles .cc-favourites [class*="b-catalog_entry"] > a[href*="z31798-kiznaiver"] img {
    visibility: hidden;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="z31798-kiznaiver"] .image-cutter {
    background: url("https://i.imgur.com/emEpfAU.jpeg") no-repeat 0% 30% / 100%;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="z31798-kiznaiver"] .image-cutter:hover {
    background-image: url(https://i.imgur.com/3oxfAFn.gif);
    background-position: 0% 50%;
    background-size: 110%;
    background-repeat: no-repeat;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="z31798-kiznaiver"] .image-decor::before {
    content: "Kiznaiver";
}

/* Soul Eater */
.p-profiles .cc-favourites [class*="b-catalog_entry"] > a[href*="3588-soul-eater"] img {
    visibility: hidden;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="3588-soul-eater"] .image-cutter {
    background: url("https://i.imgur.com/k6IRC0A.jpeg") no-repeat 15% 30% / 100%;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="3588-soul-eater"] .image-cutter:hover {
    background-image: url("https://i.imgur.com/exxFSIJ.gif");
    background-position: 15% 50%;
    background-size: 110%;
    background-repeat: no-repeat;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="3588-soul-eater"] .image-decor::before {
    content: "Soul Eater";
}
  
 /* Katekyou Hitman Reborn! */
  .p-profiles .cc-favourites [class*="b-catalog_entry"] > a[href*="1604-katekyou-hitman-reborn"] img {
    visibility: hidden;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="1604-katekyou-hitman-reborn"] .image-cutter {
    background: url("https://i.imgur.com/tMppv1j.jpeg") no-repeat 0% 30% / 100%;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="1604-katekyou-hitman-reborn"] .image-cutter:hover {
    background-image: url("https://media.tenor.com/EuYCO8mP748AAAAM/katekyo-hitman-reborn-katekyo-hitman.gif");
    background-position: 0% 0%;
    background-size: 110%;
    background-repeat: no-repeat;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="1604-katekyou-hitman-reborn"] .image-decor::before {
    content: "Katekyou Hitman Reborn!";
}
  
  /* Fairy Tail */
.p-profiles .cc-favourites [class*="b-catalog_entry"] > a[href*="6702-fairy-tail"] img {
    visibility: hidden;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="6702-fairy-tail"] .image-cutter {
    background: url("https://i.imgur.com/2AHscE0.jpeg") no-repeat 0% 30% / 100%;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="6702-fairy-tail"] .image-cutter:hover {
    background-image: url("https://i.imgur.com/04EgpVV.gif");
    background-position: 0% 0%;
    background-size: 110%;
    background-repeat: no-repeat;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="6702-fairy-tail"] .image-decor::before {
    content: "Fairy Tail";
}
  
   /* Ano Hi Mita Hana no Namae wo Bokutachi wa Mada Shiranai */
.p-profiles .cc-favourites [class*="b-catalog_entry"] > a[href*="9989-ano-hi-mita-hana-no-namae-wo-bokutachi-wa-mada-shiranai"] img {
    visibility: hidden;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="9989-ano-hi-mita-hana-no-namae-wo-bokutachi-wa-mada-shiranai"] .image-cutter {
    background: url("https://i.imgur.com/yoUSiPb.jpeg") no-repeat 0% 50% / 100%;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="9989-ano-hi-mita-hana-no-namae-wo-bokutachi-wa-mada-shiranai"] .image-cutter:hover {
    background-image: url("https://i.imgur.com/OqimJSR.gif");
    background-position: 0% 0%;
    background-size: 110%;
    background-repeat: no-repeat;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="9989-ano-hi-mita-hana-no-namae-wo-bokutachi-wa-mada-shiranai"] .image-decor::before {
    content: "Anohana";
}

/* Lovely Complex */
.p-profiles .cc-favourites [class*="b-catalog_entry"] > a[href*="2034-lovely-complex"] img {
    visibility: hidden;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="2034-lovely-complex"] .image-cutter {
    background: url("https://i.imgur.com/N8dC90j.jpeg") no-repeat 0% 15% / 100%;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="2034-lovely-complex"] .image-cutter:hover {
    background-image: url("https://i.imgur.com/uer96GW.gif");
    background-position: 15% 15%;
    background-size: 110%;
    background-repeat: no-repeat;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="2034-lovely-complex"] .image-decor::before {
    content: "Lovely★Complex";
}

/* Orange */
.p-profiles .cc-favourites [class*="b-catalog_entry"] > a[href*="32729-orange"] img {
    visibility: hidden;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="32729-orange"] .image-cutter {
    background: url("https://i.imgur.com/wQzAmee.jpeg") no-repeat 0% 40% / 120%;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="32729-orange"] .image-cutter:hover {
    background-image: url("https://media.tenor.com/LiXuc1T8ViUAAAAM/orange-anime-kakeru-naruse.gif");
    background-position: 15% 15%;
    background-size: 110%;
    background-repeat: no-repeat;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="32729-orange"] .image-decor::before {
    content: "Orange";
}

/* Violet Evergarden */
.p-profiles .cc-favourites [class*="b-catalog_entry"] > a[href*="33352-violet-evergarden"] img {
    visibility: hidden;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="33352-violet-evergarden"] .image-cutter {
    background: url(https://i.imgur.com/f7lSmLw.png) no-repeat 60% 0% / 100%;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="33352-violet-evergarden"] .image-cutter:hover {
    background-image: url(https://i.imgur.com/4bNhYX5.gif);
    background-position: 15% 15%;
    background-size: 110%;
    background-repeat: no-repeat;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="33352-violet-evergarden"] .image-decor::before {
    content: "Violet Evergarden";
}
