/* Danganronpa */
/* Кёко Киригири */
.c-character.entry-63845 img {
    visibility: hidden;
}
.c-character.entry-63845 .image-cutter {
    background: url(https://i.imgur.com/JzdDygd.jpeg) no-repeat 55% 0%;
    background-size: cover;
    filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-63845 .image-cutter:hover {
    filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Бьякуя Тогами */
.c-character.entry-65541 img {
    visibility: hidden;
  }
.c-character.entry-65541 .image-cutter {
    background: url(https://i.imgur.com/SSB2596.jpeg) no-repeat 0% 30% / 100%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-65541 .image-cutter:hover {
	filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Токо Фукава */
.c-character.entry-65529 img {
    visibility: hidden;
  }
.c-character.entry-65529 .image-cutter {
    background: url(https://i.imgur.com/v41NLSC.jpeg) no-repeat 70% 10% / 250%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-65529 .image-cutter:hover {
	filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Аканэ Овари */
.c-character.entry-73223 img {
    visibility: hidden;
  }
.c-character.entry-73223 .image-cutter {
    background: url(https://i.imgur.com/eYRji4C.jpeg) no-repeat 35% 10% / 200%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-73223 .image-cutter:hover {
	filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Ибуки Миода */
.c-character.entry-73209 img {
    visibility: hidden;
  }
.c-character.entry-73209 .image-cutter {
    background: url(https://i.imgur.com/BofQYVK.jpeg) no-repeat 35% 60% / 100%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-73209 .image-cutter:hover {
	filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Хиёко Сайондзи */
.c-character.entry-73225 img {
    visibility: hidden;
  }
.c-character.entry-73225 .image-cutter {
    background: url(https://i.imgur.com/qsPv3KR.jpeg) no-repeat 50% 30% / 200%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-73225 .image-cutter:hover {
	filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Тиаки Нанами */
.c-character.entry-73205 img {
    visibility: hidden;
  }
.c-character.entry-73205 .image-cutter {
    background: url(https://i.imgur.com/I8eHhj7.jpeg) no-repeat 30% 30% / 200%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-73205 .image-cutter:hover {
	filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Пэко Пэкояма */
.c-character.entry-73231 img {
    visibility: hidden;
  }
.c-character.entry-73231 .image-cutter {
    background: url(https://i.imgur.com/Hnihj8b.jpeg) no-repeat 45% 30% / 150%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-73231 .image-cutter:hover {
	filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Reborn */
/* Хром Докуро */
.c-character.entry-5013 img {
    visibility: hidden;
  }
.c-character.entry-5013 .image-cutter {
    background: url(https://i.imgur.com/q8p2OeZ.jpeg) no-repeat 50% 0% / 200%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-5013 .image-cutter:hover {
	 filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Цунаёши Савада */
.c-character.entry-670 img {
    visibility: hidden;
  }
.c-character.entry-670 .image-cutter {
    background: url(https://i.imgur.com/ZST8paQ.jpeg) no-repeat 50% 40% / 200%;
   filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-670 .image-cutter:hover {
    filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Бьякуран */
.c-character.entry-10752 img {
    visibility: hidden;
}
.c-character.entry-10752 .image-cutter {
    background: url(https://i.imgur.com/LsJ21kq.jpeg) no-repeat 0% 30% / 120%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-10752 .image-cutter:hover {
	 filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Блюбелл */
.c-character.entry-24450 img {
    visibility: hidden;
  }
.c-character.entry-24450 .image-cutter {
    background: url(https://i.imgur.com/3sJu0d7.jpeg) no-repeat 15% 15% / 120%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-24450 .image-cutter:hover {
	filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Фран */
.c-character.entry-17565 img {
    visibility: hidden;
}
.c-character.entry-17565 .image-cutter {
    background: url(https://i.imgur.com/bfTlPfY.jpeg) no-repeat 50% 30% / 200%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-17565 .image-cutter:hover {
	filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Бельфегор */
.c-character.entry-4372 img {
    visibility: hidden;
}
.c-character.entry-4372 .image-cutter {
    background: url(https://i.imgur.com/txiQrlg.jpeg) no-repeat 20% 30% / 140%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-4372 .image-cutter:hover {
	filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Маммон */
.c-character.entry-5006 img {
    visibility: hidden;
}
.c-character.entry-5006 .image-cutter {
    background: url(https://i.imgur.com/d1BGO1r.jpeg) no-repeat 70% 0% / 250%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-5006 .image-cutter:hover {
	filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Череп */
.c-character.entry-5004 img {
    visibility: hidden;
}
.c-character.entry-5004 .image-cutter {
    background: url(https://i.imgur.com/CvAfqiw.jpeg) no-repeat 40% 20% / 250%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-5004 .image-cutter:hover {
	filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Mahou Shoujo Ikusei Keikaku */
/* Алиса */
.c-character.entry-141957 img {
    visibility: hidden;
  }
.c-character.entry-141957 .image-cutter {
    background: url(https://i.imgur.com/Q5TP35i.jpeg) no-repeat 40% 30% / 250%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-141957 .image-cutter:hover {filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Нэму */
.c-character.entry-141955 img {
    visibility: hidden;
}
.c-character.entry-141955 .image-cutter {
    background: url(https://i.imgur.com/OkR4HzS.jpeg) no-repeat 70% 15% / 200%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-141955 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Мина Амасато */
.c-character.entry-141961 img {
    visibility: hidden;
}
.c-character.entry-141961 .image-cutter {
    background: url(https://i.imgur.com/GKEUaUC.jpeg) no-repeat 20% 15% / 250%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-141961 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Юна Амасато */
.c-character.entry-141962 img {
    visibility: hidden;
}
.c-character.entry-141962 .image-cutter {
    background: url(https://i.imgur.com/GKEUaUC.jpeg) no-repeat 90% 15% / 250%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-141962 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Нана Хабутаэ */
.c-character.entry-141964 img {
    visibility: hidden;
}
.c-character.entry-141964 .image-cutter {
    background: url(https://i.imgur.com/I0m8C51.jpeg) no-repeat 40% 40% / 180%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-141964 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Soul Eater */
/* Цубаки Накацукаса */
.c-character.entry-8443 img {
    visibility: hidden;
  }
.c-character.entry-8443 .image-cutter {
    background: url(https://i.imgur.com/1kcCjSt.jpeg) no-repeat 15% 15% / 220%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-8443 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Патти Томпсон */
.c-character.entry-8444 img {
    visibility: hidden;
  }
.c-character.entry-8444 .image-cutter {
    background: url(https://i.imgur.com/t9Cebap.jpeg) no-repeat 60% 70% / 200%;
   filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-8444 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Кид */
.c-character.entry-8455 img {
    visibility: hidden;
  }
.c-character.entry-8455 .image-cutter {
    background: url(https://i.imgur.com/PgnaV8S.jpeg) no-repeat 30% 15% / 150%;
   filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-8455 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Black☆Star */
.c-character.entry-8464 img {
    visibility: hidden;
  }
.c-character.entry-8464 .image-cutter {
    background: url(https://i.imgur.com/jJKCuit.jpeg) no-repeat 0% 50% / 230%; 
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-8464 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Анджела Леон */
.c-character.entry-13712 img {
    visibility: hidden;
  }
.c-character.entry-13712 .image-cutter {
    background: url(https://i.imgur.com/TxefHY4.jpeg) no-repeat 50% 15% / 250%; 
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-13712 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Хрона */
.c-character.entry-11919 img {
    visibility: hidden;
  }
.c-character.entry-11919 .image-cutter {
    background: url(https://i.imgur.com/pMcFKOF.jpeg) no-repeat 50% 15% / 150%; 
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-11919 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Эрука Фрог */
.c-character.entry-13689 img {
    visibility: hidden;
  }
.c-character.entry-13689 .image-cutter {
    background: url(https://i.imgur.com/1vStv2J.jpeg) no-repeat 50% 30% / 200%; 
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-13689 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Kiznaiver */
/* Нико */
.c-character.entry-134209 img {
    visibility: hidden;
  }
.c-character.entry-134209 .image-cutter {
    background: url(https://i.imgur.com/jcbUvHo.jpeg) no-repeat 50% 15% / 250%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-134209 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Кацухира Агата */
.c-character.entry-134205 img {
    visibility: hidden;
  }
.c-character.entry-134205 .image-cutter {
    background: url(https://i.imgur.com/XtTvTx9.jpeg) no-repeat 70% 15% / 300%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-134205 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Хонока Маки */
.c-character.entry-134212 img {
    visibility: hidden;
  }
.c-character.entry-134212 .image-cutter {
    background: url(https://i.imgur.com/3859mbH.jpeg) no-repeat 70% 15% / 300%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-134212 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Руру */
.c-character.entry-140775 img {
    visibility: hidden;
  }
.c-character.entry-140775 .image-cutter {
    background: url(https://i.imgur.com/CvcR66i.jpeg) no-repeat 50% 15% / 200%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-140775 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Fairy Tail */

/* Джувия */
.c-character.entry-9719 img {
    visibility: hidden;
  }
.c-character.entry-9719 .image-cutter {
    background: url(https://i.imgur.com/McVoSjt.jpeg) no-repeat 60% 25% / 250%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-9719 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Люси */
.c-character.entry-5186 img {
    visibility: hidden;
  }
.c-character.entry-5186 .image-cutter {
    background: url(https://i.imgur.com/HmBlAWu.jpeg) no-repeat 45% 15% / 300%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-5186 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Мавис */
.c-character.entry-50163 img {
    visibility: hidden;
  }
.c-character.entry-50163 .image-cutter {
    background: url(https://i.imgur.com/Ur9QkrA.jpeg) no-repeat 30% 30% / 270%; 
   filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-50163 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Брандиш */
.c-character.entry-130964 img {
    visibility: hidden;
  }
.c-character.entry-130964 .image-cutter {
    background: url(https://i.imgur.com/l19w7x4.jpeg) no-repeat 40% 35% / 220%;
   filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-130964 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Димария */
.c-character.entry-133962 img {
    visibility: hidden;
  }
.c-character.entry-133962 .image-cutter {
    background: url(https://i.imgur.com/7yt0MPc.jpeg) no-repeat 50% 30% / 220%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-133962 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Венди */
.c-character.entry-28886 img {
    visibility: hidden;
  }
.c-character.entry-28886 .image-cutter {
    background: url(https://i.imgur.com/JX1OT8b.jpeg) no-repeat 50% 30% / 250%;
   filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-28886 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Флёр Корона */
.c-character.entry-56777 img {
    visibility: hidden;
  }
.c-character.entry-56777 .image-cutter {
    background: url(https://i.imgur.com/TUdr0Wa.jpeg) no-repeat 70% 30% / 200%;
   filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-56777 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Хакунэ */
.c-character.entry-243080 img {
    visibility: hidden;
  }
.c-character.entry-243080 .image-cutter {
    background: url(https://i.imgur.com/ROvyRWa.jpeg) no-repeat 45% 15% / 250%;
   filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-243080 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Мэри */
.c-character.entry-166017 img {
    visibility: hidden;
  }
.c-character.entry-166017 .image-cutter {
    background: url(https://i.imgur.com/ALKQYMx.jpeg) no-repeat 42% 30% / 180%;
   filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-166017 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Джульетта Сан */
.c-character.entry-140503 img {
    visibility: hidden;
  }
.c-character.entry-140503 .image-cutter {
    background: url(https://i.imgur.com/5XcO6Nz.jpeg) no-repeat 10% 30% / 280%;
   filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-140503 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Хайне Лунаси */
.c-character.entry-167022 img {
    visibility: hidden;
  }
.c-character.entry-167022 .image-cutter {
    background: url(https://i.imgur.com/5rwESlA.jpeg) no-repeat 20% 15% / 350%;
   filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-167022 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Йоко */
.c-character.entry-243081 img {
    visibility: hidden;
  }
.c-character.entry-243081 .image-cutter {
    background: url(https://i.imgur.com/v9NLyvj.jpeg);
  background-repeat: no-repeat;
    background-position: 48% 15%;
    background-size: cover;
    background-color: transparent;
   filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-243081 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Рейт */
.c-character.entry-261648 img {
    visibility: hidden;
  }
.c-character.entry-261648 .image-cutter {
    background: url(https://i.imgur.com/7zDsJld.jpeg) no-repeat 45% 15% / 350%;
   filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-261648 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Меркфобия */
.c-character.entry-164912 img {
    visibility: hidden;
  }
.c-character.entry-164912 .image-cutter {
    background: url(https://i.imgur.com/eLcnttr.jpeg) no-repeat 60% 30% / 200%;
   filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-164912 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Yamada-kun to 7-nin no Majo */
/* Мария Саруcима */
.c-character.entry-79985 img {
    visibility: hidden;
  }
.c-character.entry-79985 .image-cutter {
    background: url(https://i.imgur.com/tqAh6jH.jpeg) no-repeat 20% 80% / 350%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-79985 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Мияби Ито */
.c-character.entry-62437 img {
    visibility: hidden;
  }
.c-character.entry-62437 .image-cutter {
    background: url(https://i.imgur.com/5hkiGLp.jpeg) no-repeat 50% 10% / 250%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-62437 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Леона Миямура */
.c-character.entry-84499 img {
    visibility: hidden;
  }
.c-character.entry-84499 .image-cutter {
    background: url(https://i.imgur.com/cDZqmrQ.jpeg) no-repeat 80% 70% / 400%;
  filter: contrast(1) saturate(1.5);
    transition: filter 0.3s;
}
.c-character.entry-84499 .image-cutter:hover {
  filter: contrast(1) saturate(1.5);
    transition: filter 0.3s;
}

/* Нэнэ Одагири */
.c-character.entry-57493 img {
    visibility: hidden;
  }
.c-character.entry-57493 .image-cutter {
    background: url("https://sun9-49.userapi.com/s/v1/ig2/J1WVMw5srBsx4QfA2rnLCqTLdt1ITxoCLII8UKBR6QEIn2lnP_WS_1BeOYJsTncB3TLCTXOUCECzjyRcU-6v25uQ.jpg?quality=95&as=32x18,48x27,72x40,108x61,160x90,240x135,360x202,480x270,540x304,640x360,720x405,1080x607,1280x720,1440x810,1920x1080&from=bu&cs=1920x0") no-repeat 25% 100% / 350%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-57493 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Мэйко Оцука */
.c-character.entry-68497 img {
    visibility: hidden;
  }
.c-character.entry-68497 .image-cutter {
    background: url("https://sun9-4.userapi.com/s/v1/ig2/ZwDogXdH5jv8khDEh33rixs275i2LjMWrXICpsS_ZLaDuiqgKSK4vQf9IB50swlqyqB2YoyaLd807954gtDSfZ1H.jpg?quality=95&as=32x18,48x27,72x40,108x61,160x90,240x135,360x202,480x270,540x304,640x360,720x405,1080x607,1280x720,1440x810,1920x1080&from=bu&cs=1920x0") no-repeat 76% 100% / 350%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-68497 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Ноа Такигава */
.c-character.entry-80265 img {
    visibility: hidden;
  }
.c-character.entry-80265 .image-cutter {
    background: url("https://sun9-12.userapi.com/s/v1/ig2/WXTb9YRFueGTLjZ7Z9_ax_wZ3dPuqdbMlTPKpA-rDMZadFzokLKF1G3i42rd4FY-7Oi62QNiDm8FRdQj8YgMTyEs.jpg?quality=95&as=32x18,48x27,72x40,108x61,160x90,240x135,360x202,480x270,540x304,640x360,720x405,1080x607,1280x720,1440x810,1920x1080&from=bu&cs=1920x0") no-repeat 30% 80% / 370%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-80265 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Рика Сайонджи */
.c-character.entry-89081 img {
    visibility: hidden;
  }
.c-character.entry-89081 .image-cutter {
    background: url("https://sun9-24.userapi.com/s/v1/ig2/gqhXBxQVptqEjX8OG52bwMgSo2VKzhuDrvTBueM7V-o6-ICcLckjO44KFQ2Mn9--szT_V8NIn-MyxhLN2yNqOyXo.jpg?quality=95&as=32x18,48x27,72x40,108x61,160x90,240x135,360x202,480x270,540x304,640x360,720x405,1080x607,1280x720,1440x810,1920x1080&from=bu&cs=1920x0") no-repeat 15% 100% / 350%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-89081 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Микото Аска */
.c-character.entry-82757 img {
    visibility: hidden;
  }
.c-character.entry-82757 .image-cutter {
    background: url("https://sun9-46.userapi.com/s/v1/ig2/IOr2oYfc7N_LcZuZw-ia8R0yzzPfaHmJKx0bf4AtP9K30twq9EasCAby0S5qZiWQpKoCsEz0IUIKZ7L8lzt2sjwl.jpg?quality=95&as=32x18,48x27,72x40,108x61,160x90,240x135,360x202,480x270,540x304,640x360,720x405,1080x607,1280x720,1440x810,1920x1080&from=bu&cs=1920x0") no-repeat 70% 80% / 350%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-82757 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* SK8 */
/* Джо */
.c-character.entry-188065 img {
    visibility: hidden;
  }
.c-character.entry-188065 .image-cutter {
    background: url(https://i.imgur.com/FZGz7Gq.jpeg) no-repeat 70% 70% / 200%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-188065 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}

/* Мия Тинэн */
.c-character.entry-188062 img {
    visibility: hidden;
  }
.c-character.entry-188062 .image-cutter {
    background: url(https://i.imgur.com/gKjZlQd.jpeg) no-repeat 53% 75% / 500%;
  filter: contrast(1) saturate(0);
    transition: filter 0.3s;
}
.c-character.entry-188062 .image-cutter:hover {
  filter: saturate(1.5);
    transition: filter 0.3s;
}
