/* Danganronpa */
/* Кёко Киригири */
.p-profiles .cc-favourites [class*="b-catalog_entry"] > a[href*="10752-byakuran"] img {
    visibility: hidden;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="63845-kyouko-"] .image-cutter {
    background: url("https://i.pinimg.com/1200x/5e/0c/fe/5e0cfed763f3640bd0be8afdd3d26576.jpg") no-repeat 0% 15% / 100%;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="63845-kyouko-"] .image-cutter:hover {
    background-image: url("https://media1.tenor.com/m/p2-aCFXz878AAAAd/danganronpa-kyoko-kirigiri.gif");
}
.p-profiles .cc-favourites .c-character a[href*="63845-kyouko-"] .image-decor::before {
    content: "Кёко Киригири";
}

/* Reborn */
/* Бьякуран */
.p-profiles .cc-favourites [class*="b-catalog_entry"] > a[href*="10752-byakuran"] img {
    visibility: hidden;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="10752-byakuran"] .image-cutter {
    background: url("https://i.pinimg.com/1200x/11/1d/80/111d8041563f509d1fa787a3509a6369.jpg") no-repeat 0% 15% / 100%;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="10752-byakuran"] .image-cutter:hover {
    background-image: url("https://media1.tenor.com/m/Kyvu_aDsXuYAAAAd/byakuran-hitman-reborn.gif");
}
.p-profiles .cc-favourites .c-character a[href*="10752-byakuran"] .image-decor::before {
    content: "Бьякуран";
}

/* Zankyou no Terror */
/* Кэндзиро Сибадзаки */
.p-profiles .cc-favourites [class*="b-catalog_entry"] > a[href*="108083-kenjirou-"] img {
    visibility: hidden;
  }
.p-profiles .cc-favourites .b-catalog_entry a[href*="108083-kenjirou-"] .image-cutter {
    background: url("https://i.pinimg.com/1200x/4e/88/b1/4e88b19a466232386ff9ec96030c22e8.jpg") no-repeat 0% 15% / 100%;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="108083-kenjirou-"] .image-cutter:hover {
    background-image: url("https://i.pinimg.com/originals/12/b7/93/12b793f08fb57ad2ed36abbf79f9dc06.gif");
}
.p-profiles .cc-favourites .c-character a[href*="108083-kenjirou-"] .image-decor::before {
    content: "Кэндзиро Сибадзаки";
}
