/* Danganronpa */
.p-profiles .cc-favourites [class*="b-catalog_entry"] > a[href*="16592-danganronpa-kibou-no-gakuen-to-zetsubou-no-koukousei-the-animation"] img {
    visibility: hidden;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="16592-danganronpa-kibou-no-gakuen-to-zetsubou-no-koukousei-the-animation"] .image-cutter {
    background: url("https://i.pinimg.com/1200x/f7/fc/0d/f7fc0dabf4d37cff9dd223ba5ad914b1.jpg") no-repeat 0% 30% / 100%;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="16592-danganronpa-kibou-no-gakuen-to-zetsubou-no-koukousei-the-animation"] .image-cutter:hover {
    background-image: url("http://1.bp.blogspot.com/-wwl1r7EuaRM/U4_Otf6cvfI/AAAAAAAAAgU/5N9Os0gVdPg/s1600/Danganronpa.gif");
    background-position: 0% 50%;
    background-size: 110%;
    background-repeat: no-repeat;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="16592-danganronpa-kibou-no-gakuen-to-zetsubou-no-koukousei-the-animation"] .image-decor::before {
    content: "Danganronpa";
}

/* Mahou Shoujo Ikusei Keikaku */
.p-profiles .cc-favourites [class*="b-catalog_entry"] > a[href*="33003-mahou-shoujo-ikusei-keikaku"] img {
    visibility: hidden;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="33003-mahou-shoujo-ikusei-keikaku"] .image-cutter {
    background: url("https://i.pinimg.com/736x/34/2a/98/342a984851a3839938ce962b236fc012.jpg") no-repeat 0% 30% / 100%;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="33003-mahou-shoujo-ikusei-keikaku"] .image-cutter:hover {
    background-image: url("https://images.saymedia-content.com/.image/t_share/MTc0NDY4MzIzNzg4OTkwMDg2/have-we-seen-the-end-of-the-magical-girl-genre.gif");
    background-position: 0% 50%;
    background-size: 110%;
    background-repeat: no-repeat;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="33003-mahou-shoujo-ikusei-keikaku"] .image-decor::before {
    content: "Mahou Shoujo Ikusei Keikaku";
}

/* kiznaiver */
.p-profiles .cc-favourites [class*="b-catalog_entry"] > a[href*="z31798-kiznaiver"] img {
    visibility: hidden;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="z31798-kiznaiver"] .image-cutter {
    background: url("https://i.pinimg.com/1200x/be/d0/c6/bed0c63bbcf2b82739198677bff00c61.jpg") no-repeat 0% 30% / 100%;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="z31798-kiznaiver"] .image-cutter:hover {
    background-image: url("https://64.media.tumblr.com/190d850f743de6ca4add8e510843af4d/tumblr_o50v5tL2s51rkmjxwo1_540.gif");
    background-position: 0% 50%;
    background-size: 110%;
    background-repeat: no-repeat;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="z31798-kiznaiver"] .image-decor::before {
    content: "Kiznaiver";
}

/* Soul Eater */
.p-profiles .cc-favourites [class*="b-catalog_entry"] > a[href*="3588-soul-eater"] img {
    visibility: hidden;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="3588-soul-eater"] .image-cutter {
    background: url("https://i.pinimg.com/736x/27/3a/f2/273af2ad62033e06af5b97a8ee708e42.jpg") no-repeat 15% 30% / 100%;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="3588-soul-eater"] .image-cutter:hover {
    background-image: url("https://media1.tenor.com/m/-q2vjBbo0OcAAAAd/soul-eater-resonance.gif");
    background-position: 15% 50%;
    background-size: 110%;
    background-repeat: no-repeat;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="3588-soul-eater"] .image-decor::before {
    content: "Soul Eater";
}
  
 /* Katekyou Hitman Reborn! */
  .p-profiles .cc-favourites [class*="b-catalog_entry"] > a[href*="1604-katekyou-hitman-reborn"] img {
    visibility: hidden;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="1604-katekyou-hitman-reborn"] .image-cutter {
    background: url("https://i.pinimg.com/736x/7c/12/30/7c1230819062d045998d0c5bdf4a2878.jpg") no-repeat 0% 30% / 100%;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="1604-katekyou-hitman-reborn"] .image-cutter:hover {
    background-image: url("https://media.tenor.com/EuYCO8mP748AAAAM/katekyo-hitman-reborn-katekyo-hitman.gif");
    background-position: 0% 0%;
    background-size: 110%;
    background-repeat: no-repeat;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="1604-katekyou-hitman-reborn"] .image-decor::before {
    content: "Katekyou Hitman Reborn!";
}
  
  /* Fairy Tail */
.p-profiles .cc-favourites [class*="b-catalog_entry"] > a[href*="6702-fairy-tail"] img {
    visibility: hidden;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="6702-fairy-tail"] .image-cutter {
    background: url("https://i.pinimg.com/736x/b2/f1/19/b2f119f2a9fda8f8f2a79ce820d98684.jpg") no-repeat 0% 30% / 100%;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="6702-fairy-tail"] .image-cutter:hover {
    background-image: url("https://media1.tenor.com/m/eJR5aNKOTUIAAAAC/natsu-lucy.gif");
    background-position: 0% 0%;
    background-size: 110%;
    background-repeat: no-repeat;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="6702-fairy-tail"] .image-decor::before {
    content: "Fairy Tail";
}
  
   /* Ano Hi Mita Hana no Namae wo Bokutachi wa Mada Shiranai */
.p-profiles .cc-favourites [class*="b-catalog_entry"] > a[href*="9989-ano-hi-mita-hana-no-namae-wo-bokutachi-wa-mada-shiranai"] img {
    visibility: hidden;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="9989-ano-hi-mita-hana-no-namae-wo-bokutachi-wa-mada-shiranai"] .image-cutter {
    background: url("https://i.pinimg.com/1200x/40/66/a6/4066a670ad3c60b188284be00ceb45f3.jpg") no-repeat 0% 50% / 100%;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="9989-ano-hi-mita-hana-no-namae-wo-bokutachi-wa-mada-shiranai"] .image-cutter:hover {
    background-image: url("https://i.pinimg.com/originals/27/1a/11/271a11c278232e23af855b38e6e33c4f.gif");
    background-position: 0% 0%;
    background-size: 110%;
    background-repeat: no-repeat;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="9989-ano-hi-mita-hana-no-namae-wo-bokutachi-wa-mada-shiranai"] .image-decor::before {
    content: "Anohana";
}

/* Lovely Complex */
.p-profiles .cc-favourites [class*="b-catalog_entry"] > a[href*="2034-lovely-complex"] img {
    visibility: hidden;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="2034-lovely-complex"] .image-cutter {
    background: url("https://i.pinimg.com/736x/52/f1/e3/52f1e3af0b27848c35b365b2be269385.jpg") no-repeat 0% 15% / 100%;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="2034-lovely-complex"] .image-cutter:hover {
    background-image: url("https://s1.hostingkartinok.com/uploads/images/2012/02/6ce8de41c9713f705b5995125990d8c3.gif");
    background-position: 15% 15%;
    background-size: 110%;
    background-repeat: no-repeat;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="2034-lovely-complex"] .image-decor::before {
    content: "Lovely★Complex";
}

/* Orange */
.p-profiles .cc-favourites [class*="b-catalog_entry"] > a[href*="32729-orange"] img {
    visibility: hidden;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="32729-orange"] .image-cutter {
    background: url("https://i.pinimg.com/1200x/bd/ac/bf/bdacbf5b2eacd8a187197f4277134aa6.jpg") no-repeat 0% 40% / 120%;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="32729-orange"] .image-cutter:hover {
    background-image: url("https://media.tenor.com/LiXuc1T8ViUAAAAM/orange-anime-kakeru-naruse.gif");
    background-position: 15% 15%;
    background-size: 110%;
    background-repeat: no-repeat;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="32729-orange"] .image-decor::before {
    content: "Orange";
}
