/* Reborn */
/* Бьякуран */
.p-profiles .cc-favourites [class*="b-catalog_entry"] > a[href*="139226-mutsumi-"] img {
    visibility: hidden;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="139226-mutsumi-"] .image-cutter {
    background: url("https://i.pinimg.com/1200x/11/1d/80/111d8041563f509d1fa787a3509a6369.jpg") no-repeat 0% 0% / 200%;
    transition: background-image 0.2s ease;
}
.p-profiles .cc-favourites .b-catalog_entry a[href*="139226-mutsumi-"] .image-cutter:hover {
    background-image: url("https://media1.tenor.com/m/Kyvu_aDsXuYAAAAd/byakuran-hitman-reborn.gif");
}
